{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Link</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
            <tr>
                <th>Last_check</th>
                <td>{{ link.lastCheck ? link.lastCheck|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ link.keywords }}</td>
            </tr>
            <tr>
                <th>Last log</th>
                {% if last_log %}
                    <td>Date:{{ last_log.datetimeCreated.format('Y-m-d H:i:s') }} | Log:{{ last_log.log }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_link_index') }}">back to list</a>

    <a href="{{ path('app_link_edit', {'id': link.id}) }}">edit</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
